:root{
    /* Colors */
    --color-main-white: #F2E9E4;
    --color-main-black: #2B2628; 
    --color-light-primary: #5B85AA;

    /* Fonts */
    --font-crimson-text: 'Crimson Text', serif;
    --font-lato: 'Lato', sans-serif;
}

body{
    background-color: var(--color-main-white);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-crimson-text);
}

h6{
    font-weight: bold;
}

p{
    color: var(--color-main-black);
    font-family: var(--font-lato);
    font-size: 1.2
    rem;
}