@keyframes show-bar{
    0%      {top: 0rem;}
    100%    {top: 4rem;}
}

@keyframes hide-bar{
    0%      {top: 4rem;}
    100%    {top: 0rem;}
}

.toolbar-options{
    position: absolute;
    padding: 1rem 0;
    
    width: 100%;
    background-color: var(--color-light-primary);
}

/* Toolbar Options initially behind toolbar */
.init-bar{
    top: 0rem;
}

/* Toolbar Options slides down from behind Toolbar */
.show-bar{
    top: 4rem;
    animation-name: show-bar;
    animation-duration: 1s;
}

/* Toolbar Options slides up behind Toolbar */
.hide-bar{
    top: 0rem;
    animation-name: hide-bar;
    animation-duration: 1s;
}

/* Form Styling */
.toolbar-options form{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

.toolbar-options form input{
    padding: .25rem;
    
    max-width: 6rem;
    font-family: var( --font-lato);
    background-color: var( --color-main-white);
}

.toolbar-options form button{
    padding: .25rem;

    font-family: var( --font-lato);
    background-color: var( --color-main-white);
}

.toolbar-options form label{
    font-family: var( --font-crimson-text);
    color: var( --color-main-white);
}