@keyframes show-bar{
    0%      {top: -5rem;}
    100%    {top: 0rem;}
}

@keyframes hide-bar{
    0%      {top: 0rem;}
    100%    {top: -5rem;}
}

.toolbar-options{
    position: relative;
    
    height: 3rem;
    background-color: var(--color-light-primary);    
    z-index: -10;
}

/* Toobar Options initially behind toolbar */
.init-bar{
    top: -5rem;
}

/* Toolbar Options slides down from behind Toolbar */
.show-bar{
    top: 0rem;
    animation-name: show-bar;
    animation-duration: 1s;
}

/* Toolbar Options slides up behind Toolbar */
.hide-bar{
    top: -5rem;
    animation-name: hide-bar;
    animation-duration: 1s;
}